h1 {
	font-size: 45px;
	font-weight: 900;
}

h4 {
	font-size: 24px;
	font-weight: 700;
}

#page.site {
    padding-top: 90px;

    @media only screen and (max-width: 768px) {
        padding-top: 60px;
    }
}

header {    
    &.site-header {
        background: #040707;
        padding: 20px 0 20px;
        border-bottom: 1px solid #808084;
        position: fixed;
        z-index: 999;
        width: 100%;
        left: 0;
        top: 0;
    }

    .logo {
        max-width: 500px;
        width: 100%;
        display: block;

        img {
            width: 100%;
        }
    }
}

#wpadminbar + #page.site header.site-header{
    top: 32px;    
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.menu {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1020px) {
        position: absolute;
        right: 0;
        top: 90px;
        left: 0;
        background: #040707;
    }

    li.menu-item{
        font-size: 14px;
        font-weight: 700;
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        
        @media only screen and (max-width: 1020px) {
            text-align: right;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @media only screen and (max-width: $xl-desktop) {
            font-size: 13px;
            padding: 0 15px;
        }

        a {
            color: #fff;
            text-transform: uppercase;
            position: relative;
            
            &:before {
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
                content: '';
                opacity: 0;
                transition: height .3s,opacity .3s,transform .3s;
                transform: translateY(-10px);
                height: 2px;
            }

            &:hover {
                &:before {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        &:after {
            position: absolute;
            content: "";
            top: 2px;
            bottom: 2px;
            right: -1px;
            width: 2px;            
            background: #808084;

            
            @media only screen and (max-width: 1020px) {
                display: none;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &#secondary-menu {
        li.menu-item {
            padding: 0 10px 0 30px;

            a {
                text-transform: unset;
                position: static;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;

                    path {
                        fill: #808084;
                    }
                }

                [data-icon="question"] {
                    width: 15px;
                    left: 5px;
                }
            }

            &:after {
                display: none;
            }
        }

        @media only screen and (max-width: 1020px) {
            display: none;
        }
    }
}

.menu-toggle {
    margin-left: auto;
    margin-right: 10px;

    background: transparent;
    border: transparent;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;

    svg {
        width: 100%;
        height: 100%;
        transition: opacity 0.3s;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    [data-icon="times"] {
        opacity: 0;
        z-index: 0;
    }

    &[aria-expanded="true"] {
        [data-icon="bars"] {
            z-index: 0;
            opacity: 0;
        }

        [data-icon="times"] {
            opacity: 1;
            z-index: 1;
        }
    }
}

@media only screen and (max-width: 1020px) {
    .main-navigation ul.menu {
        display: none!important;
    }

    .main-navigation.toggled ul.menu{
        display: block!important;
    }

    .container {
        padding: 0 15px;
    }
}

.banner-slider, 
.static-banner {
    overflow: hidden;

    .slide-item {
        width: 100%;
        min-height: 40vh;
        position: relative;
        background: #040707;

        @media only screen and (max-width: 600px) {
            padding: 0 15px;
        }

        img.bg {
            width: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center center;
            top: 0;
            left: 0;
            height: 100%;

            @media only screen and (max-width: 768px) {
                object-position: right center;
            }
        }

        img.float {
            position: absolute;
            left: 50%;
            max-width: 600px;
            width: 100%;
            top: 100px;
            z-index: 3;
            transform: translate(-50px, 0);

            @media only screen and (max-width: 1250px) {
                transform: none;
            }

            @media only screen and (max-width: 1020px) {
                display: none;
            }
        }

        .content {
            position: relative;
            margin: 50px auto 150px;
            max-width: 600px;
            width: 100%;            
            padding: 30px 25px 20px 40px;
            z-index: 2;
            color: #fff;
            transform: translate(-50%, 0);

            

            @media only screen and (max-width: 1250px) {
                margin-left: 30px;
                transform: none;
            }

            @media only screen and (max-width: 1020px) {
                margin-left: auto;
                transform: none;
                margin-bottom: 50px;
            }
            

            h2 {
                font-size: 32px;
                font-weight: 900;
                line-height: 40px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
                padding-right: 50px;
                color: inherit;          
            }

            ul {
                li {
                    font-size: 18px;
                    font-weight: 900;
                    padding-left: 30px;
                    position: relative;

                    &:before {
                        content: ">";
                        color: #fff;
                        position: absolute;
                        left: 0;                        
                    }
                }
            }

            &:before {
                background: #0079c2;
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;
                right: 0;
                z-index: 0;
                content: "";
            }

            &:after {
                background: #0079c2;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 10px;
                z-index: 0;
                content: "";
            }

            .float-bottom,
            .float-right {
                position: absolute;
                background: #0079c2;
            }

            .float-right {
                right: 0;
                top: 0;
                bottom: 0;
                width: 10px;
                background: rgb(0,121,194);
                background: linear-gradient(180deg, rgba(0,121,194,1) 0%, rgba(0,121,194,1) 50%, rgba(0,121,194, 0) 100%);              
            }

            .float-bottom {
                right: 0;
                left: 0;
                bottom: 0;
                height: 10px;
                background: rgb(0,121,194);
                background: linear-gradient(90deg, rgba(0,121,194,1) 0%, rgba(0,121,194,1) 50%, rgba(0,121,194, 0) 100%);
            }

        }
    }
}

.static-banner {
    position: relative;

    &.gradient_bg {
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: #040707;
            content: "";
            z-index: 1;
            background: rgb(0,0,0);
            background: linear-gradient(100deg, rgba(4,7,7,1) 0%, rgba(4,7,7,0.9) 50%, rgba(0,0,0,0) 55%);
        }
    }
    
    .slide-item {
        position: static!important;

        .content {
            background: rgb(0,0,0);
            background: linear-gradient(100deg, rgba(4,7,7,1) 0%, rgba(4,7,7,0.9) 90%, rgba(0,0,0,0) 100%);
        }

        h2 {
            text-transform: uppercase;
        }

        img {
            &.bg {
                height: 100%;
            }
        }
    }
}



.container {
    @media only screen and (min-width: $xl-tablet) {
        padding: 0 15px;
        max-width: 1024px!important;
        width: 100%;
    }

    @media only screen and (min-width: $xl-desktop) {
        padding: 0 40px;
        max-width: 1548px!important;
        width: 100%;
    }
/*
    @media (min-width: 1100px) and (max-width: $xl-desktop) {
        width: 100%;
        max-width: 100%!important;
        padding: 0 40px;
    }*/
}

.slick-prev {
    
    left: 25px;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 10;
    opacity: 0.8;
    transition: all 0.3s;

    &:before {
        content: "";
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);    
        border-color: #fff!important;
        background: transparent;
        position: absolute;
        left: 20px;
        top: 20px;
        bottom: 20px;
        right: 20px;
    }

    &:hover {
        opacity: 1;        
    }
}

.slick-next {
    
    z-index: 10;
    right: 25px;
    border-color: #fff!important;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 10;
    opacity: 0.8;
    transition: all 0.3s;

    &:before {
        content: "";
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(135deg);    
        border-color: #fff!important;
        background: transparent;
        position: absolute;
        left: 20px;
        top: 20px;
        bottom: 20px;
        right: 20px;
    }

    &:hover {
        opacity: 1;        
    }
}

.slick-dots li {
    width: 10px;
    height: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    
    button {
        display: none;
    }
    
    &.slick-active {
        background: #fff;
    }
}

.slick-dots {
    bottom: 5px;
    text-align: left;
    padding-left: 50px;
}

a {
    &.image-overlay {
        display: block;
        position: relative;
        
        > img {
            display: block;
        }

        &:before {
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
            transition: all 0.3s;
            content: "";
            z-index: 2;
        }

        &:hover {
            &:before {
                opacity: 1;                
            }
        }
    }
}