.wpcf7-form {
    label {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
        display: inline-block;
        color: #fff;
    }

    .wpcf7-form-control {
        width: 100%;
        border: 1px solid #fff;
        background: #384554;
        border-radius: 0;
        padding: 5px 15px;
        margin-bottom: 20px;
        color: #fff;

        &.wpcf7-textarea {
            height: 100px;
        }

        &.wpcf7-submit {
            width: 200px;
            text-align: center;
            color: #fff;
            background: #0079c2;
            border: 0;
            line-height: 40px;
            font-size: 18px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}

.s-btn {
    text-align: center;    
    background: #0079c2;
    border: 0;
    line-height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 30px;
    border: 1px solid #0079c2;
    transition: all 0.3s;
    color: #fff;
    display: inline-block;
    outline: 0;
    outline-color: #fff;
    
    &:hover {
        border: 1px solid #0079c2;
        background: #fff;
        color: #0079c2;
    }
}

.p-content {
    padding: 15px;

    .p-text {
        text-align: center;
        font-size: 19px;
        margin-top: 30px;

        img {
            display: block;
            width: 100%;
        }

        a {
            font-weight: 700px;
            line-height: 22px;
            color: #000;
            text-transform: uppercase;
        }
    }
}

[data-section] {
    padding: 50px 0;
}


h2.section-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    font-family: museo-sans-condensed, sans-serif;
}

p.section-sub-title {    
    margin: 0 auto;    
}

.section2-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.s-history {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;

    .number {
        font-size: 56px;
        line-height: 67px;
        letter-spacing: 0;
        color: #0079c2;
    }

    .description {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0;
        font-weight: 900;
        text-align: center;
        color: #000;
    }

    .icon {
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        

        img {
            height: 100px;
        }
    }
}

.section3-content {
    text-align: center;
    padding: 0 10% 0;    

    h4 {
        font-size: 19px;
        line-height: 23px;
        font-weight: 700;
        color: #000;
        margin-bottom: 30px;

        @media only screen and (min-width: $xl-desktop) {
            font-size: 21px;            
        }
    }

    p {
        line-height: 25px;
        letter-spacing: 2px;
        color: #000;
        margin-bottom: 50px;
    }

    .button-section {
        text-align: center;
    }
}

.align-items-center {
    display: flex;
    align-items: center;
}

.s4-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .icon {
        flex: 1 0 75px;
        max-width: 75px;

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1 0;
        padding-left: 20px;
        
        h5 {
            font-size: 18px;
            line-height: 20px;
            font-weight: 700;
            color: #000;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: #000;
        }
    }
}

body {
    main#primary {
        > div:last-child {
            padding-bottom: 100px;
        }
    }
}